
<div class="col-10 offset-1 about">
  <h4>Splurty McSplurty</h4>

  <p>
    This incredibly, overwhelmingly impactful Splurty was built by <a target="_blank" href="http://github.com/raevanp">Raevan</a>.
  </p>
  <br />
  <p>
    Raevan has designed several web pages and interactive platforms for several types of clientele ranging from political figures to independent entrepreneurs and start-up companies. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'ME.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h3 class="text-center">|Raevan Parson|</h3>
      <br />
      <p>
        Raevan Parson is a multidisciplinary designer specializing in web development, web design, human-centered design and interiors.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
